body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #CECECE;
  background-color: #242424;
  position: relative;
}

.body--active {
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 55px;
  line-height: 61px;
  letter-spacing: 0.05em;
  font-family: 'Libre Caslon Display', serif;
}

.scroll-top {
  position: fixed;
  right: 12px;
  bottom: 15px;
  width: 60px;
  height: 60px;
  background-color: rgba(#303030, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;

  &:hover {
    background-color: rgba(#303030, 0.9);
  }

  &:hover path{
    stroke: #fff;
  }

  &__img {
    transform: rotate(90deg);
  }

  &.scroll-top--active {
    pointer-events: auto;
    opacity: 1;
  }
}

