@media (max-width: 1440px) {
  .benefits__item {
    &:first-child {
      top: 76px;
      left: 60px;
    }
 
    &:nth-child(2) {
      top: 178px;
    }
  
    &:nth-child(3) {
      bottom: 58px;
      left: 340px;
    }
  }
}

@media (max-width: 1400px) {
  .header {
    &::after {
      width: 433px;
    }  
  }

  .benefits__item {
    &:first-child {
      top: 85px;
      left: 75px;
    }
 
    &:nth-child(3) {
      bottom: 60px;
      left: 345px;
    }
  }
}

@media (max-width: 1350px) {
  .benefits__item {

    &:first-child {
      top: 90px;
      left: 85px;
    }
 
    &:nth-child(2) {
      top: 180px;
    }
  
    &:nth-child(3) {
      bottom: 65px;
      left: 355px;
    }
  }
  
  .dream__wrapper {
    &::before {
      left: -200px;
    }
  }
  

}

@media (max-width: 1280px) {

  .visit__item::before {
    font-size: 120px;
    line-height: 165px;
    right: 0px;
  }

  .visit__item:nth-child(2)::before {
    left: 34%;
  }

  .visit__image {
    width: 550px;
    height: 340px;
  }

  .visit__content {
    margin-right: 20px;
  }

  .benefits__wrapper {
    &::before {
      background-image:url('../images/benefits/line2.svg');
      opacity: 0.5;
    }
  }
}

@media (max-width: 1200px) {

  .tours {
    margin-bottom: 150px;
  }

  .contacts__inner {
    margin-bottom: 35px;
  }

  .benefits__title {
    margin-bottom: 140px;
  }

  .benefits__item {

    &:first-child {
      top: 90px;
      left: 85px;
    }
 
    &:nth-child(2) {
      top: 180px;
    }
  
    &:nth-child(3) {
      bottom: 65px;
      left: 310px;
    }
  }

}

@media (max-width: 1110px) {

  .visit__item {
    position: static;
    
    &:nth-child(2) {
      .visit__image {
        order: 2;
      }
    }
  }

  .visit__content {
    margin-right: 20px;
  }

  .visit__item:nth-child(2) .visit__content {
    margin-left: 0px;
    margin-right: 30px;
  }

  .visit__image {
    flex: 1 0 500px;
    height: 340px;
    position: relative;

    &::before {
      content: '0' counter(number);
      counter-increment: number;
      position: absolute;
      font-size: 70px;
      line-height: 110px;
      font-family: 'Libre Caslon Display', serif;
      right: 20px;
      bottom: -60px;
      z-index: 2;
    }
  
    &:nth-child(n + 10)::before {
      content: counter(number);
    }
  }

  .visit__item::before {
    display: none;
  }
}

@media (max-width: 1040px) {
  
  .benefits__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }

  .benefits__item {
    position: static;
    margin: 30px;
  }

  .benefits__wrapper {
    &::before {
      display: none;
    }
  }
}

@media (max-width: 970px) {

  .visit {
    padding: 0px 0 60px 0;
  }

  .dream__wrapper {
    height: 830px;
    &::before {
      // left: -300px;
      top: 210px;
    }
  }

  .footer__menu {
    flex-wrap: wrap;
  }

  .footer__item {
    margin-bottom: 15px;
  }
}

@media (max-width: 900px) {

  .visit__item {
   flex-direction: column;
   margin: 0 0 60px 0;
  }

  .visit__content {
    margin-right: 0px;
    margin-bottom: 25px;
    max-width: 100%;
    width: 100%;
  }

  .visit__item:nth-child(2) .visit__content {
    margin-right: 0px;
  }

  .visit__image {
    width: 100%;
    max-height: 350px;
    // max-width: 100%;
  }

  .benefits__title {
    margin-bottom: 110px;
  }

  .reviews-slider {
    max-width: 680px;
    height: 400px;
  }

  .reviews-slider__person {
    margin: 0 40px 0 0;
  }
}

@media (max-width: 750px) {

  .about {
    padding: 100px 0 70px;
  }

  .title {
    font-size: 40px;
    line-height: 50px;
  }

  .dream  {
    &::before {
      display: none;
    }
  }

  .dream__wrapper {
    height:790px;
    &::before {
      top: 250px;
      left: -300px;
    }
  }

  .dream__title {
    font-size: 40px;
    line-height: 46px;
    margin: 0px 0 130px 0;

    span:first-child {
      margin-bottom: 40px;
    }

    span:nth-child(2) {
      font-size: 110px;
      line-height: 120px;
      margin-bottom: 40px;
    }

    span:nth-child(3) {
      text-align: right;
    }
  }

  .reviews {
    padding: 0 0 200px;
  }
  
  .reviews__wrapper {
    &::before,
    &::after {
      display: none;
    }
  }

  .reviews__title {
    margin: 0 0 20px 0;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
  }

  .reviews-slider__item {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  .reviews-slider__person {
    margin: 0;
  }

  .reviews-slider__text {
    max-width: 100%;
    font-size: 18px;
    line-height: 20px;
    height: 100%;
  }

  .reviews-slider__image {
    width: 160px;
    height: 160px;
  }

  .reviews-slider__name {
    font-size: 18px;
  }

  .reviews-slider__subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .reviews-slider__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .contacts__form {
    margin-top: 0;
    padding: 20px 40px;
  }
}

@media (max-width: 650px) {

  .visit {
    padding: 0px 0 40px 0;
  }

  .about__text {
    font-size: 20px;
    line-height: 25px;
  }

  .benefits__title {
    margin-bottom: 80px;
    font-size: 35px;
    line-height: 35px;
  }

  .tours-slider__item {
    padding: 60px 20px 60px;
  }

  .tours {
    margin-bottom: 20px;
  }

  .tours__title {
    margin: 0 0 30px 0;
  }

  .dream__wrapper {
    height: 640px;
    &::before {
      top: 190px;
      left: -210px;
    }
  }

  .dream__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 70px 0;

    span:first-child {
      margin-bottom: 30px;
    }

    span:nth-child(2) {
      font-size: 80px;
      line-height: 100px;
      margin-bottom: 30px;
    }

    span:nth-child(3) {
      text-align: right;
    }
  }

  .dream__offer {
    padding: 20px 20px 30px 20px;
  }

  .dream__descr {
    margin: 0 0 25px 0;
    font-size: 18px;
    line-height: 20px;
  }
  .dream__links {
    flex-wrap: wrap;
  }

  .dream__partners {
    margin-bottom: 25px;
    flex-wrap: wrap;
  }

  .dream__link {
    font-size: 20px;
    line-height: 28px;
    display: block;
    width: 100%;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 550px) {

  .visit__title {
    text-align: center;
  }

  .visit__text {
    font-size: 20px;
  }

  .visit__subtitle {
    margin: 0 0 20px 0;
    font-size: 22px;
  }

  .about {
    padding: 50px 0 50px;
  }

  .about__text {
    font-size: 18px;
    line-height: 25px;
  }

  .benefits {
    padding-bottom: 90px;
  }

  .benefits__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 450px) {

  .visit__image {
    max-height: 280px;
  }

  .visit__image::before {
    font-size: 50px;
    line-height: 90px;
    bottom: -50px;
  }

  .about__link {
    font-size: 22px;
    line-height: 30px;
  }

  .benefits__text {
    font-size: 18px;
  }

  .benefits__image {
    height: 60px;
    min-width: 60px;
    margin: 0 20px 0 0;
  }

  .benefits__img {
    top: 0;
  }

  .dream__wrapper {
    &::before {
      display: none;
    }
  }

  .dream__title {
    margin: 0 0 50px 0;

    span:first-child {
      margin-bottom: 30px;
    }

    span:nth-child(2) {
      font-size: 80px;
      line-height: 100px;
      margin-bottom: 30px;
    }

    span:nth-child(3) {
      text-align: right;
    }
  }

  .dream__offer {
    padding: 10px;
  }

  .dream__partner {
    margin: 0 14px 20px 0;
  }

  .dream__partner:last-child {
    margin-right: 0;
  }

  .contacts__btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__textarea {
    margin: 0 0 80px 0;
    font-size: 22px;
    line-height: 26px;
  }

  .contacts__input {
    font-size: 22px;
    line-height: 26px;
  }

  .contacts__link {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 27px;
    width: 100%;
    display: inline-block;
    text-align: center;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 400px) {

  .visit__image {
    max-height: 250px;
  }

  .about__link {
    display: block;
    width: 100%;
    text-align: center;
  }

  .benefits__title {
    margin-bottom: 60px;
    font-size: 35px;
    line-height: 35px;
  }

  .benefits {
    padding-bottom: 60px;
  }

  .benefits__item {
    margin: 15px 0;
  }

  .dream {
    padding-bottom: 50px;
  }

  .dream__title {
    padding-top: 0;
  }

  .footer__menu {
    flex-direction: column;
  }

  .footer__item {
    margin: 0;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 15px;
  }
}