$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;

@media (max-width: 1440px) {
  .benefits__item {
    &:first-child {
      top: 76px;
      left: 60px;
    }
 
    &:nth-child(2) {
      top: 178px;
    }
  
    &:nth-child(3) {
      bottom: 58px;
      left: 340px;
    }
  }
}

@media (max-width: 1400px) {
  .header {
    &::after {
      width: 433px;
    }  
  }

  .benefits__item {
    &:first-child {
      top: 85px;
      left: 75px;
    }
 
    &:nth-child(3) {
      bottom: 60px;
      left: 345px;
    }
  }
}

@media (max-width: 1350px) {
  .benefits__item {

    &:first-child {
      top: 90px;
      left: 85px;
    }
 
    &:nth-child(2) {
      top: 180px;
    }
  
    &:nth-child(3) {
      bottom: 65px;
      left: 355px;
    }
  }
}

@media (max-width: 1280px) {
  .benefits__wrapper {
    &::before {
      display: none;
    }
  }
}

@media (max-width: 1200px) {

  .benefits__title {
    margin-bottom: 140px;
  }

  .benefits__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }

  .benefits__item {
    position: static;
    margin: 30px;
  }
}