@media (max-width: 1440px) {
  .benefits__item {
    &:first-child {
      top: 76px;
      left: 60px;
    }
 
    &:nth-child(2) {
      top: 178px;
    }
  
    &:nth-child(3) {
      bottom: 58px;
      left: 340px;
    }
  }
}

@media (max-width: 1400px) {
  .header {
    &::after {
      width: 433px;
    }  
  }

  .benefits__item {
    &:first-child {
      top: 85px;
      left: 75px;
    }
 
    &:nth-child(3) {
      bottom: 60px;
      left: 345px;
    }
  }
}

@media (max-width: 1350px) {
  .benefits__item {

    &:first-child {
      top: 90px;
      left: 85px;
    }
 
    &:nth-child(2) {
      top: 180px;
    }
  
    &:nth-child(3) {
      bottom: 65px;
      left: 355px;
    }
  }
  
  .dream__wrapper {
    &::before {
      left: -200px;
    }
  }

  .tours__slider {
    height: 500px;
    padding: 30px 0 60px;
  }

  .swiper-slide {
    max-width: 720px;
  }

  .tours__item {
    padding: 40px 15px;
  }
}

@media (max-width: 1290px) {

  .visit__item::before {
    font-size: 120px;
    line-height: 165px;
    right: 0px;
  }

  .visit__item:nth-child(2)::before {
    left: 34%;
  }

  .tours__slider {
    height: 480px;
  }

  .swiper-slide {
    width: 690px;
  }
}

@media (max-width: 1280px) {

  .visit__image {
    width: 550px;
    height: 340px;
  }

  .visit__content {
    margin-right: 20px;
  }

  .benefits__wrapper {
    &::before {
      background-image:url('../images/benefits/line2.svg');
      opacity: 0.5;
    }
  }
}

@media (max-width: 1200px) {

  .header__title {
    padding: 0 10px;
    font-size: 60px;
    line-height: 75px;
    left: 0;
    top: 25%;

    span {
      font-size: 100px;
      line-height: 115px;
    }
  }

  .header__book {
    bottom: 100px;
    padding: 40px 15px;
    max-width: 540px;
    height: 270px;
    left: 0;
  } 

  .visit__image {
    min-width: 500px;
  }

  .tours {
    margin-bottom: 150px;
  }

  .contacts__inner {
    margin-bottom: 35px;
  }

  .benefits__title {
    margin-bottom: 140px;
  }

  .benefits__item {

    &:first-child {
      top: 90px;
      left: 85px;
    }
 
    &:nth-child(2) {
      top: 180px;
    }
  
    &:nth-child(3) {
      bottom: 65px;
      left: 310px;
    }
  }
}

@media (max-width: 1110px) {

  .visit__item {
    position: static;
    
    &:nth-child(2) {
      .visit__image {
        order: 2;
      }
    }
  }

  .header::after {
    width: 220px;
  } 

  .header__book {
    padding: 10px;
    max-width: 400px;
    height: 210px;
  }

  .header__text {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .header__btn {
    font-size: 24px;
    line-height: 34px;
  }

  .slider-dots__number {
    font-size: 34px;
    line-height: 45px;
  }

  .visit__content {
    margin-right: 20px;
  }

  .visit__item:nth-child(2) .visit__content {
    margin-left: 0px;
    margin-right: 30px;
  }

  .visit__image {
    position: relative;

    &::before {
      content: '0' counter(number);
      counter-increment: number;
      position: absolute;
      font-size: 70px;
      line-height: 110px;
      font-family: 'Libre Caslon Display', serif;
      right: 20px;
      bottom: -60px;
      z-index: 2;
    }
  
    &:nth-child(n + 10)::before {
      content: counter(number);
    }
  }

  .visit__item::before {
    display: none;
  }
}

@media (max-width: 1040px) {

  .header__title {
    font-size: 50px;
    line-height: 70px;

    span {
      font-size: 86px;
      line-height: 110px;
    }
  }

  .header::after {
    width: 100px;
    height: 400px;
  }
  
  .benefits__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }

  .benefits__item {
    position: static;
    margin: 30px;
  }

  .benefits__wrapper {
    &::before {
      display: none;
    }
  }

  .tours__slider {
    height: 440px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .swiper-slide {
    max-width:100%;
    width: 100%;
    opacity: 1;
  }

  .swiper-slide-active {
    transform: none !important;
  }

  .tours__item {
    padding: 30px 15px;
  }

  .tours__subtitle {
    font-size: 24px;
  }

  .tours__text,
  .tours__link {
    font-size: 16px;
  }
}

@media (max-width: 970px) {

  .header__title {
    top: 10%;
  }

  .visit {
    padding: 0px 0 60px 0;
  }

  .dream__wrapper {
    height: 830px;
    &::before {
      top: 210px;
    }
  }

  .footer__menu {
    flex-wrap: wrap;
  }

  .footer__item {
    margin-bottom: 15px;
  }
}

@media (max-width: 900px) {

  .menu__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(#1C1C1C, 0.7);
    backdrop-filter: blur(10px);
    padding: 100px 20px 20px 20px;
    transform: translateX(-100%);
    overflow: auto;
    flex-direction: column;
    transition: transform 0.3s;
    text-align: center;
    display: block;
  }

  .menu__list--active {
    transform: translateX(0%);
  }

  .menu__item {
    margin: 0 0 25px 0;
  }

  .burger {
    display: block;
  }

  .header::after {
    display: none;
  }

  .header__aside {
    top: 0;
    left: 90px;
    padding: 15px 5px;
    margin-top: 20px;
  }

  .header__aside-list {
    flex-direction: row;
  }

  .header__aside-item {
    padding: 0 10px;
  }

  .header__aside-item:last-child {
    transform: none;
    padding-right: 0;
  }

  .header__aside-item--line {
    display: none;
  }

  .header__title {
    top: 6%;
    width: 100%;
    font-size: 40px;
    line-height: 60px;

    span {
      text-align: center;
    }
  }

  .about {
    padding: 90px 0 90px;
  }

  .visit__item {
   flex-direction: column;
   margin: 0 0 60px 0;
  }

  .visit__content {
    margin-right: 0px;
    margin-bottom: 25px;
    max-width: 100%;
    width: 100%;
  }
  
  .visit__item:nth-child(2) .visit__content {
    margin-right: 0px;
  }

  .visit__image {
    min-width: 100%;
    width: 100%;
    max-height: 350px;
  }

  .benefits__title {
    margin-bottom: 110px;
  } 

  .dream__wrapper {
    &::before {
      top: 236px;
      left: -310px;
    }
  }

  .reviews-slider {
    max-width: 680px;
    height: 400px;
  }

  .reviews-slider__person {
    margin: 0 40px 0 0;
  }
}

@media (max-width: 750px) {

  .header__book {
    padding: 15px;
    height: 150px;
  }

  .header__text {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
    padding: 0;

    &::before {
      display: none;
    }
  }

  .title {
    font-size: 40px;
    line-height: 50px;
  }

  .tours-slider__item {
    padding: 30px 15px 30px 20px;
  }

  .dream  {
    &::before {
      display: none;
    }
  }

  .dream__wrapper {
    height:790px;

    &::before {
      top: 250px;
      left: -300px;
    }
  }

  .dream__title {
    font-size: 40px;
    line-height: 46px;
    margin: 0px 0 130px 0;

    span:first-child {
      margin-bottom: 40px;
    }

    span:nth-child(2) {
      font-size: 110px;
      line-height: 120px;
      margin-bottom: 40px;
    }

    span:nth-child(3) {
      text-align: right;
    }
  }

  .reviews {
    padding: 0 0 200px;
  }
  
  .reviews__wrapper {
    &::before,
    &::after {
      display: none;
    }
  }

  .reviews__title {
    margin: 0 0 20px 0;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
  }

  .reviews-slider__item {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  .reviews-slider__person {
    margin: 0;
  }

  .reviews-slider__text {
    max-width: 100%;
    font-size: 18px;
    line-height: 20px;
    height: 100%;
  }

  .reviews-slider__image {
    width: 160px;
    height: 160px;
  }

  .reviews-slider__name {
    font-size: 18px;
  }

  .reviews-slider__subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .reviews-slider__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .contacts__form {
    margin-top: 0;
    padding: 20px 40px;
  }
}

@media (max-width: 650px) {

  .header__title {
    top: 5%;
    width: 100%;
    font-size: 30px;
    line-height: 50px;

    span {
      font-size: 60px;
      line-height: 90px;
    }
  }

  .header__slider {
    margin-bottom: 20px;
  }

  .header__book {
    position: static;
    width: 100%;
    max-width: 100%;
    text-align: center;
    height: auto;
  }

  .header__slider-dots {
    bottom: 200px;
  }

  .about {
    padding-top: 60px;
  }

  .about__box {
    display: block;
  }

  .visit {
    padding: 0;
  }

  .about__text {
    font-size: 20px;
    line-height: 25px;
    padding: 20px 15px;
  }

  .benefits__title {
    margin-bottom: 80px;
    font-size: 35px;
    line-height: 35px;
  }

  .tours {
    margin-bottom: 80px;
  }

  .tours__title {
    margin: 0 0 30px 0;
  }

  .dream__wrapper {
    height: 640px;
    &::before {
      top: 190px;
      left: -210px;
    }
  }

  .dream__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 70px 0;

    span:first-child {
      margin-bottom: 30px;
    }

    span:nth-child(2) {
      font-size: 60px;
      line-height: 100px;
      margin-bottom: 30px;
    }

    span:nth-child(3) {
      text-align: right;
    }
  }

  .dream__offer {
    padding: 20px 20px 30px 20px;
  }

  .dream__descr {
    margin: 0 0 25px 0;
    font-size: 18px;
  }

  .dream__links {
    flex-wrap: wrap;
  }

  .dream__partners {
    margin-bottom: 25px;
    flex-wrap: wrap;
  }

  .dream__link {
    font-size: 20px;
    line-height: 28px;
    display: block;
    width: 100%;

    &::before {
      display: none;
    }
  }

  .dream__wrapper {
    &::before {
      display: none;
    }
  }

  .contacts__inner {
    display: block;
  }
}

@media (max-width: 550px) {

  .header__top-inner {
    padding: 15px 5px;
  }

  .header__aside {
    margin-top: 0;
  }

  .header__title {
    font-size: 28px;
  }

  .header__text {
    font-size: 18px;
  }

  .header__btn {
    font-size: 20px;
    line-height: 30px;
  }

  .slider-dots {

    .slick-dots li button{
      width: 90px;
    }
  }

  .visit__title {
    text-align: center;
  }

  .visit__text {
    font-size: 20px;
  }

  .visit__subtitle {
    margin: 0 0 20px 0;
    font-size: 22px;
  }

  .visit__image {
    max-height: 250px;
  }

  .about {
    padding: 50px 0 50px;
  }

  .about__text {
    font-size: 18px;
    line-height: 25px;
  }

  .benefits {
    padding-bottom: 90px;
  }

  .benefits__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
  
  .reviews__title {
    max-width: 250px;
    margin: 0 auto 30px;
  }
}

@media (max-width: 450px) {

  .slider-dots__number {
    font-size: 30px;
    line-height: 40px;
  }

  .header__title {
    line-height: 40px;
    span {
      text-align: left;
      font-size: 50px;
      line-height: 70px;
    }
  }

  .visit__image {
    max-height: 220px;
  }

  .visit__image::before {
    font-size: 50px;
    line-height: 90px;
    bottom: -50px;
  }

  .about__link {
    font-size: 22px;
    line-height: 30px;
  }

  .benefits__text {
    font-size: 18px;
  }

  .benefits__image {
    height: 60px;
    min-width: 60px;
    margin: 0 20px 0 0;
  }

  .benefits__img {
    top: 0;
  }

  .tours__slider {
    padding: 0;
  }

  .tours__link::after {
    display: none;
  }

  .dream__title {
    margin: 0 0 50px 0;
    font-size: 20px;
    line-height: 25px;

    span:first-child {
     margin-bottom: 10px;
    }

    span:nth-child(2) {
      font-size: 60px;
      line-height: 100px;
      margin-bottom: 10px;
    }

    span:nth-child(3) {
      text-align: right;
    }
  }

  .dream__offer {
    padding: 10px;
  }

  .dream__partner {
    margin: 0 14px 20px 0;
  }

  .dream__partner:last-child {
    margin-right: 0;
  }

  .contacts__btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__textarea {
    margin: 0 0 80px 0;
    font-size: 22px;
    line-height: 26px;
  } 

  .contacts__form {
    padding: 20px 10px;
  }

  .contacts__input {
    font-size: 22px;
    line-height: 26px;
  }

  .contacts__link {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 27px;
    width: 100%;
    display: inline-block;
    text-align: center;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 400px) {

  .title {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }

  .menu__list {
    width: 60%;
  }

  .header__title {
    span {
      font-size: 45px;
    }
  }

  .visit__title {
    margin: 0 0 50px 0;
  }

  .visit__image {
    max-height: 200px;
  }

  .visit__subtitle {
    font-size: 20px;
  }

  .visit__text {
    font-size: 18px;
  }

  .about__link {
    display: block;
    width: 100%;
    text-align: center;
  }

  .benefits {
    padding-bottom: 60px;
  }

  .benefits__title {
    margin-bottom: 50px;
  }

  .benefits__subtitle {
    font-size: 20px;
  }

  .benefits__item {
    margin: 15px 0;
  }

  .dream {
    padding-bottom: 50px;
  }

  .dream__title {
    padding-top: 0;
  }

  .tours__title {
    font-size: 40px;
  }

  .footer__menu {
    flex-direction: column;
  }

  .footer__item {
    margin: 0;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -5px;
  }

  .tours__item {
    padding: 20px 15px;
  }

  .dream__title span:nth-child(2) {
    font-size: 68px;
    line-height: 90px;
  }
}