@mixin flexb() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexc() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin line-climp($row) {
  -webkit-line-clamp: $row; 
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  overflow: hidden; 
} 