
%montserrat-light {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
}

%montserrat-regular {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%montserrat-medium {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

// %librecaslondisplay-regular {
//   font-family: 'LibreCaslonDisplay-Regular';
//   font-weight: 400;
// }